@each $textColorsMap, $value in $textColorsMap {
  .text-#{$textColorsMap} {
    color: #{$value} !important;
  }
}

.text-inherit {
  color: inherit;
  &:hover {
    color: $theme-color2;
  }
}

a.text-theme,
.text-reset {
  &:hover {
    text-decoration: underline;
  }
}